# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (descomenta si no quieres subir tu configuración local)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart
flutter_export_environment.sh

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio artifacts
/android/app/debug
/android/app/profile
/android/app/release

# iOS / CocoaPods
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/GeneratedPluginRegistrant.*

